
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Pacifico&family=Righteous&family=Titillium+Web:wght@300&display=swap');

/*HEADER*/
*{
  font-family: "Titillium Web";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a22f31;
  text-transform: uppercase;
}

.logo {
  width: 75px;
  display: flex;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

nav ul li::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #2b2b4b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s ease-out;
}

nav ul li:hover::before {
  width: 100%;
}

nav .active {
  color: #2b2b4b;
}

/*MAIN INICIO*/

.info{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/foto-background.jpeg");
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.info .contenido-banner{
  padding: 1.25rem;
  background-color: #1e2326;
  max-width: 21.87rem;
  margin: auto;
  text-align: center;
  border-radius: 2.5rem;
}

.info .contenido-banner img{
  margin-top: 2.5rem;
  border: 0.62rem solid #2b2b4b;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.info .contenido-banner h1{
  margin-top: 1.8rem;
  font-size: 2.6rem;
  font-family: 'Righteous', sans-serif;
}

.inicio .contenido-banner h2{
  font-size: 0.93rem;
  font-weight: normal;
}


/*INTEGRANTES*/

.integrantes{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/fondo-integrantes.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding: 1.8rem;
  margin: 1.25rem;
}

.container-bt{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.foto-integrante{
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.4rem solid rgb(63, 63, 109)
}

.boton{
padding: 1.25rem; 
background-color: #4f5d98; 
color: #ffffff;
text-align: center;
text-decoration: none; 
text-transform: uppercase;
font-family: 'Helvetica', sans-serif; 
border-radius: 3.1rem; 
}

.boton:hover{
  font-size: 1.2rem;
  box-shadow: 0 0 1rem rgb(157, 155, 155);

}

.integrante{
  padding: 1.8rem 0;
}

.nombre-integrante{
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Righteous', sans-serif;
  padding: 1.25rem;
}

@media (max-width: 767px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0.9rem;
    margin: 0.6rem;
  }

  .foto-integrante {
    width: 12.5rem;
    border-radius: 3.75rem;
  }

  .nombre-integrante {
    font-size: 18px;
    padding: 0.6rem;
  }
}
/*PROYECTO*/

.proyectos {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sea.jpg") center/cover no-repeat;
}

.proyectos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.proyectos-container .proyectos-caja {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-width: 50rem;
  height: 48rem;
  margin: 2rem; 
}

.proyectos-caja img {
  width: 100%;
  transition: 0.5s ease;
}

.proyectos-caja:hover img {
  transform: scale(1.1);
}

.proyectos-caja .proyectos-contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 0.5s ease;
  color: #fff;
  border-radius: 2rem;
}

.proyectos-caja:hover .proyectos-contenido {
  opacity: 1;
}

.proyectos-contenido h4 {
  font-size: 2.4rem;
  font-family: 'Righteous', sans-serif;
  padding-bottom: 0.5rem;
}

.proyectos-contenido p {
  font-size: 1rem;
  margin: 0.3rem 0 1rem;
}

@media (max-width: 768px) {
  .proyectos-container {
    flex-direction: column;
    padding: 2rem;
  }

  .proyectos-container .proyectos-caja {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  .proyectos-caja .proyectos-contenido {
    padding: 2rem;
  }
  .proyectos-contenido p, .proyectos-contenido h4 {
    font-size: 1rem;
  }
  .proyectos-caja:focus .proyectos-contenido {
    opacity: 1;
  }
}

/*NAVBAR RESPONSIVE*/

.hamburger {
  display: none;
}

@media only screen and (max-width: 750px){
  .hamburger{
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }
  .hamburger .line {
      width: 30px;
      height: 3px;
      background:#fefefe;
      margin: 0.15rem 0;
      border-radius: 80px;
  }
  nav ul {
      position: absolute;
      height: 0;
      top: 4.25rem;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: rgba(22, 22, 22, 1);
      transition: 0.5s;
      overflow: hidden;
  }
  nav ul.active {
      height: fit-content;
      z-index: 1;
  }

  nav ul li {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      text-align: center;
      transition: 0.65s;
      opacity: 0;
  }
  nav ul li.active{
      opacity: 1;
  }
}


/*AVANCE*/
.avance{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/aquarium.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 3rem 10rem 3rem;
}

.contenedor-avance-titulo{
  text-align: center;
  padding: 1.8rem;
  border-radius: 1.25rem;
  background-color: #4f5d98;
  color: #fff;
  margin: 3rem;
}

.contenedor-avance-titulo h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 1.4rem;
}

.contenedor-avance-contenedores{
  text-align: center;
  padding: 1.8rem;
  background-color: #4f5d98;
  border-radius: 1.25rem;
  margin: 4rem;
  padding: 3.4rem;
}

.contenedor-avance-contenedores h3, .contenedor-avance-contenedores p {
  color: #fff;
  padding-top: 1rem;
}


.titulo-avance{
  font-family: 'Righteous', sans-serif;
  padding-bottom: 2rem;
  font-size: 1.3rem;
}

.btn{
background-color: #4CAF50;
color: white;
padding: 0.6rem 1.2rem; 
text-align: center;
text-decoration: none; 
display: inline-block;
font-size: 1rem; 
margin: 0.2rem 0.1rem;
cursor: pointer;
border-radius: 0.3rem; 
}

.figma{
  width: 21rem;
}



.btn:hover {
  background-color: #45a049;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {

  .figma {
    width: 250px;
  }  

  .paleta {
    width: 250px;
  }

  .tree{
    display: none;
  }